.app-header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;

  background: white;

  border-bottom: 1px solid #e5e7eb;

  margin-bottom: 2rem;
}

.bank-logo {
  height: 50px;
  object-fit: contain;
}